<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="#">STUDENT-REGISTRATION</a> <!-- Updated header -->
    <button class="btn btn-light" (click)="goToHome()">Home</button>
 <!-- Button for home -->
  </div>
</nav>


<!-- Content -->
<div class="container mt-4">
  <div class="row">
    <!-- Student Registration Form -->
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Student Registration</h2>
          <form>
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" placeholder="Enter Name" [(ngModel)]="name" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group">
              <label for="address">Address</label>
              <input type="text" class="form-control" id="address" placeholder="Enter Address" [(ngModel)]="address" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group">
              <label for="phone">Phone</label>
              <input type="text" class="form-control" id="phone" placeholder="Enter Phone" [(ngModel)]="phone" [ngModelOptions]="{standalone: true}">
            </div>
            <button type="submit" class="btn btn-primary" (click)="save()">Submit</button>
          </form>
        </div>
      </div>
    </div>

    <!-- Student Table -->
    <div class="col-lg-6">
      <h2>Student Table</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Phone</th>
            <th scope="col">Option</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let StudentItem of StudentArray">
            <td>{{StudentItem.name | uppercase}}</td>
            <td>{{StudentItem.address}}</td>
            <td>{{StudentItem.phone}}</td>
            <td>
              <button type="button" class="btn btn-success" (click)="setUpdate(StudentItem)">Edit</button>
              <button type="button" class="btn btn-danger" (click)="setDelete(StudentItem)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>